In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
%matplotlib inline

In [3]:
df = pd.read_csv("plane_crashes_data.csv")

In [4]:
print(df.head())

   month hour  year                         location  \
0      1   12  1950              Near Vacas, Bolivia
1      3   20  1950           Minneapolis, Minnesota
2      3   14  1950  Llandow Airport, Cardiff, Wales
3      4   23  1950               Near Atsugi, Japan
4      5   20  1950    Lagens Air Force Base, Azores

                        operator                          route  \
0  Military - Bolivian Air Force      Valle grande - Cochabamba
1      Northwest Orient Airlines  Rochester Minn. - Minneapolis
2                Fairflight Ltd.               Llandow - Dublin
3      Military - U.S. Air Force            Philippines - Japan
4      Military - U.S. Air Force              Bermuda - England

               type  aboard  fatalities  \
0      Douglas C-47      32          32
1        Martin 202      13          13
2  Avro 689 Tudor 5      83          80
3     Douglas C-54D      35          35
4       Boeing B-29      16          16

                                             summary
0  Crashed while en route in the Andes mountains ...
1  Crashed into a flag pole, well marked by red n...
2  During the approach to Runway 28 at Llandow Ai...
3  Flew off its prescribed course and crashed int...
4  Crashed while attempting to land after being d...

What is the mean for number of people killed in plane crashes for the years 1980 to 2009 (inclusive of both years, rounded to the nearest 100th decimal place)?

In [10]:
sum_fatls=0
i=0
crashes=0
for year in df['year']:
    if year >= 1980 and year <= 2009:
        sum_fatls += df.iloc[i, 8]
        i+=1
        crashes +=1
    else:
        i+=1

In [13]:
print(round(sum_fatls/crashes,2))

24.93

In [15]:
print(df.groupby('month').sum())

         year  aboard  fatalities
month
1      505482    7330        5520
2      414111    7937        5266
3      497151    7964        6276
4      404027    6266        4274
5      358886    5819        4604
6      400417    7629        5100
7      464187    9372        6457
8      474147    9649        6786
9      451950    9090        7119
10     444027    6442        5099
11     455474    9252        6938
12     499182   10279        6498

In [16]:
print(df['fatalities'].max())

583

In [38]:
fatl_crash=0
nonfatl=0
i=0
for year in df['year']:
    if df.iloc[i,8]>0:
        fatl_crash +=1
        i+=1
    else:
        nonfatl += 1
        i+=1

In [40]:
print(fatl_crash/(fatl_crash+nonfatl)*100)

98.19121447028424

In [44]:
print(df['fatalities'].sum()/df['aboard'].sum()*100)

72.0784507724

In [47]:
df['fatl_percent'] = df['fatalities']/df['aboard']

In [49]:
df['fatl_percent'].mean()*100

82.313192235105632