In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
%matplotlib inline

In [87]:
df = pd.read_csv("plane_crashes_data.csv")

In [88]:
print(df.head())

   month hour  year                         location  \
0      1   12  1950              Near Vacas, Bolivia
1      3   20  1950           Minneapolis, Minnesota
2      3   14  1950  Llandow Airport, Cardiff, Wales
3      4   23  1950               Near Atsugi, Japan
4      5   20  1950    Lagens Air Force Base, Azores

                        operator                          route  \
0  Military - Bolivian Air Force      Valle grande - Cochabamba
1      Northwest Orient Airlines  Rochester Minn. - Minneapolis
2                Fairflight Ltd.               Llandow - Dublin
3      Military - U.S. Air Force            Philippines - Japan
4      Military - U.S. Air Force              Bermuda - England

               type  aboard  fatalities  \
0      Douglas C-47      32          32
1        Martin 202      13          13
2  Avro 689 Tudor 5      83          80
3     Douglas C-54D      35          35
4       Boeing B-29      16          16

                                             summary
0  Crashed while en route in the Andes mountains ...
1  Crashed into a flag pole, well marked by red n...
2  During the approach to Runway 28 at Llandow Ai...
3  Flew off its prescribed course and crashed int...
4  Crashed while attempting to land after being d...

What is the mean for number of people killed in plane crashes for the years 1980 to 2009 (inclusive of both years, rounded to the nearest 100th decimal place)?

In [96]:
year_fatl = {}
i=0
y_index = 1979
for year in df['year']:
    if year >= 1980 and year <= 2009:
        if y_index != year:
            year_fatl[str(year)] = df.iloc[i,8]
            i+=1
            y_index +=1
        else:
            year_fatl[str(year)] = year_fatl[str(year)] + df.iloc[i,8]
            i+=1
    else:
        i+=1

In [99]:
print(year_fatl)

{'1980': 1402, '1981': 718, '1982': 1246, '1983': 1250, '1984': 454, '1985': 2330, '1986': 1008, '1987': 1252, '1988': 1608, '1989': 1823, '1990': 764, '1991': 1203, '1992': 1473, '1993': 1089, '1994': 1545, '1995': 1177, '1996': 2204, '1997': 1530, '1998': 1432, '1999': 870, '2000': 1331, '2001': 1329, '2002': 1238, '2003': 1119, '2004': 700, '2005': 1277, '2006': 1116, '2007': 764, '2008': 810, '2009': 564}

In [101]:
sum_fatl = 0
num_yrs = 0
for item in year_fatl:
    sum_fatl += year_fatl[item]
    num_yrs += 1

In [107]:
average = sum_fatl / num_yrs
print(round(average,2))

1220.87